.container
{
	position:fixed !important;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color: #EC407A;
}


@media screen and (orientation:portrait) {
    /* Portrait styles */
	    #bigbox
	{
		background-color: rgba(238,238,238 ,1);
		border-radius: 7px;
		height: 75vw;
		width: 75vw;
		margin: auto;
		padding-left: 6px;
		padding-top: 3px;
		padding-bottom: 3px;
	}
	
	#help{
		position: fixed !important;
		text-align: right;
		top: 1px;
		right: 1px;
		height: 3vw;
		width: 7vw;
		padding: 10px;
		border: 2px solid black;
		border-radius: 5px;
		background-color: rgba(139,195,74,1);
		font-size: 2.5vw;	
		font-family: 'Passion One', cursive, sans-serif;
	}

	#help-text{
		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		text-align: left;
	}
}

@media screen and (orientation:landscape) {
	
		#bigbox
	{
		background-color: rgba(238,238,238 ,1);
		border-radius: 7px;
		height: 36vw;
		width: 36vw;
		margin: auto;
		padding-left: 6px;
		padding-top: 3px;
		padding-bottom: 3px;
	}
	
		#help{
			position: fixed !important;
			text-align: right;
			top: 5px;
			right: 5px;
			height: 4vw;
			width: 8vw;
			padding: 10px;
			border: 2px solid black;
			border-radius: 5px;
			background-color: rgba(139,195,74,1);
			font-size: 3vw;	
			font-family: 'Passion One', cursive, sans-serif;
		}

		#help-text{
			font-family: 'Montserrat', sans-serif;
			font-size: 15px;
			text-align: left;
		}
}



#SmallBox{
	float: left;
	border-radius: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 6px;
}

#countdown{
	text-align: center;
	margin: auto;
	color: #263238;
	padding-top: 5px;
	padding-bottom: 10px;
	font-size: 4vw;
	font-family: 'Passion One', cursive, sans-serif;
}

#score{
	text-align: center;
	color: #263238;
	padding-top: 8px;
	font-size: 4vw;
	font-family: 'Passion One', cursive, sans-serif;
}

#thebody{
	background-color: white;
	cursor: url(../img/cursor.cur), auto;
}