.container
{
	position:fixed !important;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color: yellow;
}

#bigbox
{
	background-color: white;
	height: 38vw;
	width: 38vw;
	margin: auto;
	padding-left: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#SmallBox{
	background-color: red;
	float: left;
	border-radius: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 6px;
}

#countdown{
	text-align: center;
	margin: auto;
	color: blue;
	padding-top: 1vw;
	padding-bottom: 1vw;
	font-size: 4vw;
	font-family: 'Passion One', cursive, sans-serif;
}

#score{
	text-align: center;
	color: blue;
	padding-top: 1vw;
	padding-bottom: 3vw;
	font-size: 4vw;
	font-family: 'Passion One', cursive, sans-serif;
}

#thebody{
	background-color: yellow;
}